{{!-- contact --}}
{{#if messageContact}}
    <div class="Message-contact">
        {{messageContact}}
    </div>
{{else}}
    <div class="Message-contact">
    </div>
{{/if}}
{{!-- contact --}}

{{!-- message notification --}}
{{#if messageSupprime}}
    <div class="message-message">
        {{messageSupprime}}
    </div>
{{/if}}
{{!-- message notification --}}

{{!-- demande notification --}}
{{#if demandeMsg}}
    <div class="message-demande">
        {{demandeMsg}}
    </div>
{{/if}}
{{!-- demande notification --}}

{{!-- etudiant notification--}}
{{#if messageEtudiant}}
    <div class="message-etudiant">
        {{messageEtudiant}}
    </div>
{{/if}}
{{!-- etudiant notification--}}

{{!-- filiere notification --}}

{{#if messageFiliere}}
    <div class="message-filiere">
        {{messageFiliere}}
    </div>
{{/if}}
{{!-- filiere notification --}}

{{!-- module notification --}}
{{#if messageModule}}
    <div class="message-module">
        {{messageModule}}
    </div>
{{/if}}
{{!-- module notification --}}

{{!-- association notification --}}
{{#if messageAssociation}}
    <div class="message-association">
        {{messageAssociation}}
    </div>
{{/if}}
{{!-- association notification --}}

{{!-- enseignant notification --}}
{{#if messageEnseignant}}
    <div class="message-enseignant">
        {{messageEnseignant}}
    </div>
{{/if}}
{{!-- enseignant notification --}}

{{!-- message login --}}
{{#if messageLogin}}
    <div class="message-login">
        {{messageLogin}}
    </div>
{{/if}}
{{!-- message identifier --}}

{{#if messageIdentifier}}
    <div class="message-identifier">
        {{messageIdentifier}}
    </div>
{{else}}
    <div class="message-identifier">
    </div>
{{/if}}
{{!-- message identifier --}}

{{!-- message actualites --}}
{{#if messageActualite}}
    <div class="message-actualite">
        {{messageActualite}}
    </div>

{{/if}}
{{!-- message actualites --}}

{{!-- message envoie demande --}}
{{#if msgEnvoieDemande}}
    <div class="message-env-demande">
        {{msgEnvoieDemande}}
    </div>

{{/if}}
{{!-- message envoie demande --}}

{{!-- message envoie demande --}}
{{#if msgEnvoieDemandeEns}}
    <div class="message-env-demande">
        {{msgEnvoieDemandeEns}}
    </div>
{{/if}}
{{!-- message envoie demande --}}

{{!-- message enseignant --}}
{{#if msgEnseignant}}
    <div class="msg-enseignant">
        {{msgEnseignant}}
    </div>
{{/if}}
{{!-- message enseignant --}}
